:root {
  --color-primary: black;
  --color-secondary: white;
}

:root {
  --font-title: 20px;
  --font-body: 18px;
  --font-sub-body: 16px;
}

:root {
  --font-bold: 700;
  --font-mid: 500;
  --font-normal: 400;
}
